@page "/weather"
@inject HttpClient Http
@using Lab14.Clases
@inject Blazored.LocalStorage.ISyncLocalStorageService localStorage

<PageTitle>Vista animales</PageTitle>

<h1>Aves</h1>


@if (Listado_Animales1 == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre propio</th>
                <th>Especie</th>
                <th>Tipo de alimentacion</th>
                <th>Esperanza de vida</th>
                <th>¿Puede volar?</th>
                <th>Periodo de incubacion</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var animal in Listado_Animales1)
            {
                <tr>
                    <td>@animal.nombre_propio</td>
                    <td>@animal.especie</td>
                    <td>@animal.tipo_alimentacion</td>
                    <td>@animal.esperanza_vida</td>
                    <td>@animal.vuela</td>
                    <td>@animal.tiempo_incubacion</td>
                </tr>
            }
        </tbody>
    </table>
}
<h1>Serpientes: </h1>
@if (Listado_Animales2 == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>Nombre propio</th>
                <th>Especie</th>
                <th>Tipo de alimentacion</th>
                <th>Esperanza de vida</th>
                <th>¿Es venenoso?</th>
                <th>Longitud maxima</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var animal in Listado_Animales2)
            {
                <tr>
                    <td>@animal.nombre_propio</td>
                    <td>@animal.especie</td>
                    <td>@animal.tipo_alimentacion</td>
                    <td>@animal.esperanza_vida</td>
                    <td>@animal.veneno</td>
                    <td>@animal.largo</td>
                </tr>
            }
        </tbody>
    </table>
}

@code {
    private List<Aves> Listado_Animales1 = new List<Aves>();
    private List<Serpientes> Listado_Animales2 = new List<Serpientes>();
    protected override async Task OnInitializedAsync()
    {
        var savedStarships = localStorage.GetItem<List<Aves>>("aves");

        if (savedStarships != null)
        {
            Listado_Animales1 = savedStarships;
        }

        var savedStarshipss = localStorage.GetItem<List<Serpientes>>("serpientes");

        if (savedStarshipss != null)
        {
            Listado_Animales2 = savedStarshipss;
        }
    }

    
}
